body {
  font-family: 'IBM Plex Mono', monospace;
}
.card-header, .card-title {
  text-align: center;
}

.jumbotron {
  text-align: center;
}

h2 {
  text-align: center;
}

#frontend {
  margin-top: 20px;
  display: none;
}

#backend {
  margin-top: 20px;
  display: none;
}

.programming-questions {
  width: 50%;
}

#fonts {
  background: green;
}

#design {
  display: none;
}

#ruby {
  display: none;
}

#csharp {
  display: none;
}

#android {
  display: none;

}

#PHP {
  display: none;
}
