.card-header, .card-title {
  text-align: center;
}

.jumbotron {
  text-align: center;
}

h2 {
  text-align: center;
}

#frontend {
  margin-top: 20px;
  display: none;
}

#backend {
  margin-top: 20px;
  display: none;
}

.programming-questions {
  width: 50%;
}

#fonts {
  background: green;
}
